/*
    Author: Harmony Houg
    Date: 9/19/2023
    File Name: style.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, ul, h3, div {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and images */
body {
    background-color: antiquewhite;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */

    /* Style rule for header content */
    header {
        position: -webkit-sticky;
        position: sticky;
        background-color: antiquewhite;
        height: 150px;
    }

    header img {
        margin: 10px;
        padding: 2%;
    }

    /* Style rule for navigation content */
    nav {
        color: darkgray;
        width: 70%;
        margin: 5em 3em 0 0;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        text-align: right;
    }

    nav li {
        display: block;
        font-size: 1.5em;
        font-family: 'Patrick Hand SC', cursive;
        color: darkgray;
    }

    nav li a {
        display: block;
        color: darkgray;
        text-align: center;
        padding: 0.5em 1em;
        text-decoration: none;
    }

    /* Show mobile class, hide tablet-desktop class */
    .mobile {
        display: block;
    }

    .tablet-desktop {
        display: none;
    }

    /* Style rule for main content */
    main {
        background-color: antiquewhite;
        clear: left;
        padding: 2%;
        font-size: 1.15em;
        font-family: 'Patrick Hand SC', cursive;
        margin: 5em;
    }

    /* Style rule for footer content */
    footer p {
        background-color: antiquewhite;
        text-align: center;
        font-size: 0.75em;
        color: darkgray;
    }

    footer p a {
        color: darkgray;
        text-decoration: none;
    }

    .round {
        border-radius: 5px;
    }

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px){
    
    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: inline-block;
    }
    
    .mobile {
        display: none;
    }
    
    /* Tablet Viewport: Style rule for header */
    header {
        position:absolute;
        padding-bottom: 2%;
    }
    
    /* Tablet Viewport: Style rules for nav area */
    nav li {
        display: inline-block;
    }
    
    /* Tablet Viewport: Style rules for main content area */
    main ul {
        margin: 0 0 4% 10%;
        clear: left;
    }
    
    /* Tablet Viewport: Style rules for footer content */
    footer p {
        background-color: antiquewhite;
        text-align: center;
        font-size: 0.75em;
        color: darkgray;
    }

    footer p a {
        color: darkgray;
        text-decoration: none;
    }

    #contact {
        text-align: center;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px) {
    
    /* Desktop Viewport: Style rule for header */
    header {
        width: 25%;
        float: left;
    }
    
    /* Desktop Viewport: Style rules for nav area */
    nav {
        width: 60%;
        margin: auto;
    }
    
    nav ul {
        text-align: center;
    }
    
    nav li {
        border: none;
    }
    
    nav li a {
        padding: 0.5em 1em;
    }
    
    nav li a:hover {
        color: darkgray;
        background-color: #fff;
    }
    
    /* Desktop Viewport: Style rules for main content */
    main {
        clear: left;
        padding: 2%;
        margin: 5em;
    }
    
    main h3 {
        font-size: 2em;
    }
    
     main ul {
        margin: 0 0 4% 10%;
    }
    
    /* Desktop Viewport: Style rules for footer content */
    footer p {
        background-color: antiquewhite;
        text-align: center;
        font-size: 0.75em;
        color: darkgray;
    }

    footer p a {
        color: darkgray;
        text-decoration: none;
    }

    #contact {
        text-align: center;
    }
}
